#calculator {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 228px;
    min-height: 320px;
    margin: 15% auto;
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, .1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
}

.output-block {
    height: 80px;
}

.output {
    padding: 20px 15px 10px;
    text-align: right;
    margin: 0;
    /* background-color: rgba(100, 100, 100, 0.5); */
    backdrop-filter: blur(100px);
    color: #fff;
    font-size: 42px;
    overflow: hidden;
    transition: 1s ease-in-out;
}

/* .output:hover {
    transform: scale(1.1);
    transition: .5s ease-in;
} */

.output:active {
    cursor: move;
}

.controls {
    display: flex;
    flex-wrap: wrap;
}

.controls button {
    border-radius: 0;
    border: 1px solid rgba(160, 160, 160, .5);
    order: 4;
    flex-grow: 4;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: #eee;
    font-size: 19px;
}

.controls button:hover {
    background-color: rgb(230, 230, 230);
}

.controls button:active {
    background-color: rgb(185, 185, 185);
}

.controls button:nth-child(4n),
.controls button:last-child{
    background-color: rgb(255, 146, 44);
    color: #fff;
    font-size: 24px;
}

.controls button:nth-child(4n):hover,
.controls button:last-child:hover {
    background-color: rgb(243, 132, 28);
    color: #fff;
}

.controls button:nth-child(4n):active,
.controls button:last-child:active {
    background-color: rgb(179, 93, 13);
    color: #fff;
}

/* .controls button:nth-child(n-1) {
    width: 58px;
} */

.controls button:last-child {
    border-radius: 0 0 5px 0;
}

.controls button:nth-child(1),
.controls button:nth-child(2),
.controls button:nth-child(3) {
    background-color: #ccc;
}

.controls button:nth-child(1):active,
.controls button:nth-child(2):active,
.controls button:nth-child(3):active {
    background-color: #aaa !important;
}

.controls button:nth-child(1):hover,
.controls button:nth-child(2):hover,
.controls button:nth-child(3):hover {
    background-color: #bbb;
}


.controls button:nth-child(17) {
    width: 105px;
    border-radius: 0 0 0 5px;
}

button:focus {
    outline: none;
}