.censored {
    position: absolute;
    width: 230px;
    height: 165px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(9px);
    background-color: rgba(0, 0, 0, .1);
    margin: 322px 167px;
    transform: rotate(-17deg);
}

.paper {
    position: absolute;
    width: 250px;
    height: 350px;
    margin: 300px 0 0 1100px;
    padding: 20px;
    background-color: #fff;
    transform: rotate(10deg);
    filter: sepia(1);
    overflow-y: auto;
}