<div class="app">
  <app-calculator (addToHistory)="addToHistory($event)"></app-calculator>

  <div class="censored">
    
  </div>

  <div class="paper">
    <p *ngFor="let h of history">{{h}}</p>
  </div>
</div>

<router-outlet></router-outlet>