/* You can add global styles to this file, and also import other style files */
body {
    /* background-color: rgb(216, 216, 216); */
    background-image: url("src/assets/images/desk.png");
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}